.display {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fef8ff;
  width: 100%;
  height: 100%;
  margin-top: 0;
}

.signBox {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 100;
  align-items: center;
  width: 500px;
  height: 420px;
  border-radius: 10%;
  background-color: #ffff;
  box-shadow: 19px 19px 14px -10px rgba(177, 177, 177, 0.23);
}

.title {
  color: #be90ec;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

.inputBox {
  display: flex;
  position: relative;
  width: 320px;
  height: 36px;
  margin: 4px 0;
  padding: 0 10px;
  border-radius: 18px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.inputContainer input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 18px;
}

.look {
  display: flex;
  position: absolute;
  right: 10px;
  top: 5px;
  justify-content: center;
  align-items: center;
  border: none;
  width: 30px;
  height: 25px;
  cursor: pointer;
  background-color: transparent;
}
.hiden {
  display: none;
}
.createAccount {
  color: white;
  background-color: #be90ec;
  padding: 0;
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 160px;
  margin-top: 20px;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  bottom: 66px;
}

.create {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgba(255, 00, 00, 0.6);
  padding: 0;
  margin-left: 4px;
  font-size: 12px;
  font-weight: 600;
}

.goLogin {
  display: flex;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  bottom: 16px;
}

.goLogin p:first-child {
  color: rgba(112, 112, 112, 54%);
}

.goLogin p:last-child {
  color: rgba(255, 0, 0, 54%);
}

.error {
  display: block;
  width: 56%;
  font-size: 5px;
  color: rgba(255, 0, 0, 54%);
}
