.body {
  margin: 20px 40px;
  width: 90%;
}

.dates {
  display: flex;
  flex-flow: wrap;
  height: 600px;
  text-align: center;
  border-right: 1px solid black;
  border-top: 1px solid black;
  width: 100%;
}
